In [401]:
import pandas as pd

In [402]:
df = pd.read_csv("../data/feed-views.log", sep='\t', names=["datetime", "name"])
df.head()

                     datetime   name
0  2020-04-17 12:01:08.463179  artem
1  2020-04-17 12:01:23.743946  artem
2  2020-04-17 12:27:30.646665  artem
3  2020-04-17 12:35:44.884757  artem
4  2020-04-17 12:35:52.735016  artem

<h2>Data preparing<h2>
<h5> converting field datetime to type datetime, separating datetime to datetime parameters (year,month...). <h5>

In [403]:
df['datetime'] = pd.to_datetime(df["datetime"])

In [404]:
df['year'] = df["datetime"].dt.year
df['month'] = df["datetime"].dt.month
df['day'] = df["datetime"].dt.day
df['hour'] = df["datetime"].dt.hour
df['minute'] = df["datetime"].dt.minute
df['second'] = df["datetime"].dt.second

In [405]:
intervals = pd.IntervalIndex.from_tuples([(0, 3), (4, 6), (7, 10), (11, 16), (17, 19), (20, 23)], closed='both')
daytime_names = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
interval_name = dict(zip(intervals, daytime_names))

df['daytime'] = pd.cut(df['hour'], intervals).map(interval_name)

In [406]:
df = df.set_index("name")

In [407]:
df.head()

,datetime,year,month,day,hour,minute,second,daytime
name,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon

<H2> Some stats <H2>
<H5> <H5>

In [408]:
df.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [409]:
df['daytime'].value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

In [410]:
df2 = df.copy(deep=True)

sort datetime by hour, minute and second

In [411]:
df.sort_values(by=['hour', 'minute', 'second'], inplace=True)

max, min hours for dataframe slices

In [412]:
df[df['daytime'] == 'night']['hour'].max()

3

In [413]:
df[df['daytime'] == 'morning']['hour'].min()

8

visitors at concrete hour

In [414]:
list(df[df['hour'] == 13].index.unique())

['pavel', 'maxim', 'konstantin', 'oksana', 'valentina', 'artem']

mode for the hour and datetime

In [415]:
df['hour'].mode()[0]

22

In [416]:
df['daytime'].mode()[0]

'evening'

3 largest hours at morning and 3 smallest hours

In [372]:
df[df['daytime'] == 'morning']['hour'].nlargest(3)

name
konstantin    10
maxim         10
maxim         10
Name: hour, dtype: int64

In [373]:
df['hour'].nsmallest(3)

name
valentina    0
valentina    0
pavel        0
Name: hour, dtype: int64

interquantile range for the hour using describe()

In [417]:
df.describe()

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.249071    29.629182    29.500929
std       0.0     0.335557     4.906567     6.955490    17.689388    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

In [387]:
iqr = df['hour'].describe()["75%"] - df['hour'].describe()["25%"]